body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.main {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30%;
    width: 700px;
    height: auto;
    border-radius: 10px;
    border: 3px solid black;
    text-align: center;
}

.main .p {
    text-align: start;
    margin-left: 30px;
}

.isi {
    margin: auto;
    
}

img { 
    max-width: 50%;
    border-radius: 50%;
}

.skill, .pengalaman {
    text-align: start;
    margin-left: 20%;
}

#contact-form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #5cb85c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button a{
    text-decoration: none;
}

button:hover {
    background-color: #4cae4c;
}

.sendEmail {
    margin: auto;
    margin-top: 30px;
    width: 700px;
    height: auto;
    border-radius: 10px;
    border: 3px solid black;
    padding: 15px;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media screen and (max-width: 600px) {
    nav ul li {
        display: block;
        margin-bottom: 0.5rem;
    }
}